@import 'tailwindcss';

@theme {
    --font-size-xs: 12px / 16px;
    --font-size-sm: 14px / 20px;
    --font-size-base: 16px / 19.5px;
    --font-size-lg: 18px / 21.94px;
    --font-size-xl: 20px / 24.38px;
    --font-size-2xl: 24px / 29.26px;
    --font-size-3xl: 28px / 50px;
    --font-size-4xl: 48px / 58px;
    --font-size-8xl: 96px / 106px;

    --font-family-palanquin: 'Palanquin', sans-serif;
    --font-family-montserrat: 'Montserrat', sans-serif;

    --color-primary: #eceeff;
    --color-coral-red: #ff6452;
    --color-slate-gray: #6d6d6d;
    --color-pale-blue: #f5f6ff;
    --color-white-400: rgba(255, 255, 255, 0.8);

    --shadow-3xl: 0 10px 40px rgba(0, 0, 0, 0.1);

    --background-image-hero: url('assets/images/collection-background.svg');
    --background-image-card: url('assets/images/thumbnail-background.svg');

    --breakpoint-wide: 1440px;
}

@layer components {
    .max-container {
        max-width: 1440px;
        margin: 0 auto;
    }

    .input {
        @apply sm:flex-1 max-sm:w-full text-base leading-normal text-slate-gray pl-5 max-sm:p-5 outline-none sm:border-none border max-sm:border-slate-gray max-sm:rounded-full;
    }
}

@layer utilities {
    .padding {
        @apply sm:px-16 px-8 sm:py-24 py-12;
    }

    .padding-x {
        @apply sm:px-16 px-8;
    }

    .padding-y {
        @apply sm:py-24 py-12;
    }

    .padding-l {
        @apply sm:pl-16 pl-8;
    }

    .padding-r {
        @apply sm:pr-16 pr-8;
    }

    .padding-t {
        @apply sm:pt-24 pt-12;
    }

    .padding-b {
        @apply sm:pb-24 pb-12;
    }

    .info-text {
        @apply font-family-montserrat text-slate-gray text-lg leading-7;
    }
}
